<!-- <h1>UserMailer#password_changed</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/password_changed.html.erb
</p> -->

<h2>Your password has changed</h2>
<hr>
<p>Hi <%= @user.fname %>,</p>
<p>We wanted to let you know that your password was changed.</p>
