
<body id= "homePage">

<h2> HELLO</h2>

<% if current_user %>
<%= link_to 'My Account', user_path(current_user.id) %>
<% else%>
<%= "Welcome to Pet Project" %>
<% end %>

<% if current_user %>
	<% if current_user.sitters.any? %>
	<%= link_to 'My Sitter Account', sitter_path(current_user.sitters.last.id) %>
	<% else %>
	<%= link_to 'Want to become a pet sitter?', new_sitter_path %>
	<% end %>
<% end %>	

</body>
